@inherits ComponentBase

<h3>Board</h3>

Board ID:
<input @bind="_boardId" />
<button @onclick="ConnectAsync">Connect</button>

<ImagesComponent></ImagesComponent>
<MapComponent ChatHubManager="_chatHubManager"></MapComponent>

