@inherits ComponentBase

<h3>Images</h3>

@_boardId
<p>
    <input @ref="_files" type="file" multiple />
</p>

@if (_filesIds != null)
@foreach (string fileId in _filesIds)
{
    <img @ref="_filesRefs[fileId]" src="/images/getfile/@_boardId/@fileId" />
}
