@inherits CanvasBaseComponent

<img @ref="_testImage" src="/favicon.ico" hidden />

<div style="width: 700px; height: 700px; overflow-y: scroll;">
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    <div
        @ref="DivCanvas"
        @onmousemove="OnMouseMoveAsync"
        @onmousedown="OnMouseDown"
        @onmouseup="OnMouseUp"
        @onmouseout="OnMouseOut"
        style="background-color: yellow"
    >
        <BECanvas @ref="Canvas" Height="600" Width="600"></BECanvas>
    </div>
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
</div>
