@inherits CanvasBaseComponent

<h3>Icons Models</h3>

@_boardId
<p>
    <InputFile OnChange="@OnInputFileChangeAsync" multiple />
</p>

@foreach (var icon in _appState.IconsModels)
{
    <img @ref="icon.Ref" src="@icon.Url" hidden/>
}

<div style="width: 700px; height: 700px; overflow-y: scroll;">
    <div
        id="IconsModelsDivCanvas"
        @ref="DivCanvas"
        @onclick="OnClickAsync"
        @oncontextmenu="OnRightClickAsync"
        @oncontextmenu:preventDefault="true"
        style="background-color: yellow"
    >
        <BECanvas @ref="Canvas" Height="600" Width="600"></BECanvas>
    </div>
</div>
