<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WCFStreamFilesExampleServiceBehavior">			
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />			
                </behavior>
            </serviceBehaviors>
        </behaviors>
		
		<bindings>
			<basicHttpBinding>
				<!-- buffer: 64KB; max size: 64MB -->
				<binding name="WCFStreamFilesExampleServiceBinding"
						transferMode="Streamed"
						maxReceivedMessageSize="9967108864" maxBufferSize="65536"
						closeTimeout="00:01:00" openTimeout="00:01:00"
						receiveTimeout="00:10:00" sendTimeout="00:01:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

        <services>
            <service name="WCFStreamFilesExampleService.SomeService" behaviorConfiguration="WCFStreamFilesExampleServiceBehavior">		
                <endpoint address="" binding="basicHttpBinding" contract="WCFStreamFilesExampleService.ISomeService"
					bindingConfiguration="WCFStreamFilesExampleServiceBinding">
                </endpoint>			
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />			
            </service>
        </services>
    </system.serviceModel>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="AuthHttpModule" type="WCFStreamFilesExampleService.AuthHttpModule, WCFStreamFilesExampleService" />
		</modules>
	</system.webServer>
</configuration>